.header {
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../images/banner/bg-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    padding-top: 25px;
    padding-bottom: 230px;
  }

  &__navigation {
    margin-bottom: 160px;
  }

  &__title {
    margin: 0 auto;
    line-height: 140px;
    width: 830px;
    color: $header-text-color;
    font-size: 150px;
    text-transform: uppercase;
    margin-bottom: 120px;
  }

  &__title--span {
    line-height: 86px;
    color: $header-text-color;
    font-size: 72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 45px;
  }

  &__button--modal-btn {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    color: $header-text-color;
    font-family: $main-font;
    font-weight: 700;
    transition: all 0.5s linear;
  }

  &__button--modal-btn:hover {
    background-color: rgba(170, 51, 51, 0.5);
  }

  &__button--modal-btn:focus {
    background-color: rgba(170, 51, 51, 0.5);
  }

  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../images/banner/bg@2x-min.jpg);
  }
}

.menu-list {
  width: 490px;
  @extend %align-between;

  &__wrapper {
    width: 620px;
    @extend %align-between;
  }

  &__link {
    text-transform: uppercase;
    font-size: 14px;
    color: $header-text-color;
    font-family: $main-font;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: solid 3px transparent;
    transition: all 0.5s linear;
  }

  &__link:hover {
    color: #fce38a;
    border-bottom-color: #fce38a;
  }

  &__link:focus {
    border-bottom-color: #fce38a;
  }
}

.navigation {
  @extend %align-between;
  align-items: baseline;
}

.logo {
  font-size: 30px;
  color: $header-text-color;
  font-family: $main-font;
  font-weight: 700;
}

.actions-list {
  width: 90px;
  @extend %align-between;

  &__link {
    display: inline-block;
  }

  &__svg {
    fill: #ffffff;
    padding-bottom: 10px;
    border-bottom: solid 3px transparent;
    transition: all 0.5s linear;
    width: 32px;
    height: 32px;
  }

  &__svg:hover {
    fill: #fce38a;
    border-bottom-color: #fce38a;
  }

  &__svg:focus {
    fill: #fce38a;
    border-bottom-color: #fce38a;
  }

  &__button--glass {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
}
