.section-title {
  text-align: center;
  color: #333333;
  font-family: $main-font;
  font-weight: 700;
}

.section-title__span {
  display: block;
  color: #333333;
  font-family: $third-font;
  font-weight: 400;
}
